.btn {
  padding: 11px 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-transform: uppercase;
  &:focus, &:hover {
    outline: none !important;
  }
  &.btn-sm {
   text-transform: capitalize;
  }
  &.active, &:active {
    box-shadow: none !important;
  }
  &.btn-round {
    &.btn-add {
      width: 40px;
      height: 40px;
      position: absolute;
      padding: 0;
      font-size: 35px;
      line-height: 32px;
      right: 25px;
      font-weight: 300;
      top: 6px;
      color: #5093e1;
      @media (max-width: 749px) {
        top: -59px;
        right: 20px;
      }
      &:after {
        position: absolute;
        content: '';
        width: 42px;
        height: 42px;
        background: transparent url(#{$image-url}/sprite.svg) -3px -54px no-repeat;
        background-size: 355px 192px;
        right: 0;
        @media (max-width: 749px) {
          background-position: -154px -55px;
        }
      }
      &:hover  {
        color: #5093e1;
        &:after {
          background-position: -3px -104px;
          @media (max-width: 749px) {
            background-position: -154px -105px;
          }
        }
      }
      &.active, &:active {
        box-shadow: none !important;
      }
    }
    &.btn-next, &.btn-prev {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      width: 30px;
      height: 30px;
      padding: 0;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        width: 30px;
        height: 30px;
        background: transparent url(#{$image-url}/sprite.svg) no-repeat;
        background-size: 355px 192px;
      }
    }
    &.btn-prev {
      margin-right: -3px;
      &:after {
      left:0;
        background-position: -61px -12px;
      }
      &:hover {
        &:after {
          background-position: -61px -62px;
        }
      }
    }
    &.btn-next {
      &:after {
        left:0;
        background-position: -110px -12px;
      }
      &:hover {
        &:after {
          background-position: -110px -62px;
        }
      }

    }
  }
}

label.btn.btn-primary {
  background-color: #fff;
  color: #333333;
  border-color: #eff0f1;
  &:focus, &:hover{
    border-color: #eff0f1 !important;
  }
  &.active {
    background-color: $active-color;
    color: #fff;
  }
  &:focus, &:hover {
    &.active {
      border-color: $active-color !important;
    }
  }
}